@import 'nullStyle';

@font-face {
    font-family: 'Paddis';
    src: url('font/Paddis_Handwritten.eot') format('eot'),
        url('font/Paddis_Handwritten.woff2') format('woff2'),
        url('font/Paddis_Handwritten.woff') format('woff'),
        url('font/Paddis_Handwritten.ttf') format('truetype');

    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Light.eot') format('eot'),
        url('font/Gilroy-Light.woff2') format('woff2'),
        url('font/Gilroy-Light.woff') format('woff'),
        url('font/Gilroy-Light.ttf') format('truetype');

    font-style: normal;
    font-weight: 300;
}

@mixin font-paddis ($size, $line) {
    font-family: 'Paddis';
    font-style: normal;
    font-weight: 500;
    font-size: $size;
    line-height: $line;
}

@mixin font-gilroy ($size, $line) {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: $size;
    line-height: $line;
}

@mixin flex ($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
}

$dark-brown: #5b3e1b;
$light-brown: #EDE7CA;

body {
    background-color: $light-brown;
    color: $dark-brown;
    @include font-gilroy(20px, 25px)
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    height: auto;
    padding: 0 5%;
    min-width: 480px;
}

.burger-menu_button {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
}

.burger-menu_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $dark-brown;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -12px;
}

.burger-menu_lines::after {
    content: '';
    top: 12px;
}


.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: $dark-brown;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_link {
    padding: 18px 35px;
    @include font-gilroy(18px, 20px);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: $light-brown;
    border-bottom: 1px solid $light-brown;
}

.burger-menu_link:first-child {
    border-top: 1px solid $light-brown;
}

.burger-menu_link:hover {
    filter: brightness(0.9);
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 70px;
    width: 100vw;
    height: 100%;
    z-index: 10;
    min-width: 500px;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    margin-top: 100px;
}

.first-screen {
    height: 40%;
    min-width: 425px;
    margin-top: 0;
    @include flex(column);
    align-items: center;

    img {
        width: 40%;
        margin-bottom: 20px;
    }
}

h2 {
    @include font-gilroy(70px, 65px);
    text-align: center;
    position: relative;
    top: -10px;
    z-index: -20;
}

h1 {
    @include font-paddis(50px, 50px);
    text-align: center;
    position: relative;
    z-index: -20;
}

p {
    margin-top: 40px;
    @include font-gilroy(24px, 25px);
    font-weight: 400;
}


h4 {
    @include font-gilroy(30px, 50px);
    text-transform: uppercase;
}

.first-screen {
    padding-top: 70px;
}

.gallery {

    .minimized {
        width: 200px;
        transition: width 0.5s ease;
    }

}


#magnify {
    display: none;
    position: fixed;
    max-width: 480px;
    height: auto;
    z-index: 9999;
}

#magnify img {
    width: 400px;
}


#overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
}

#close-popup {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

#close-popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block;
}

@keyframes rota {
    25% {
        transform: rotate(360deg);
    }
}

#close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

table {
    border-collapse: collapse;
    border: 2px solid $light-brown;
    margin: auto;
    margin-top: 40px;

    th,
    td {
        @include font-gilroy(24px, 25px);
        font-weight: 400;
        padding: 7px;
        border: 1px solid $dark-brown;
    }

    td {
        width: 70%;
    }

}

form {
    @include flex(column);
    margin: 40px 0;


    button {

        background-color: transparent;
        border: none;
        border-bottom: 2px solid $dark-brown;
        color: $dark-brown;
        @include font-gilroy(24px, 25px);
        text-align: left;
        padding: 12px 20px;
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;
    }
}

input {
    padding: 12px 20px;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid $dark-brown;
    background-color: $light-brown;
    @include font-gilroy(24px, 25px);
    color: $dark-brown;
}

input:focus {
    border-bottom: 2px solid #3d1111;
}

input::placeholder {
    @include font-gilroy(24px, 25px);
    color: $dark-brown;
}

footer {
    margin-top: 40px
}

.footer {
    @include flex(column);
    border-top: 1px solid $dark-brown;

    a {
        color: $dark-brown;
        @include font-gilroy(24px, 25px);
        @include flex(row);
        justify-content: space-between;

    }

}

.link-container {
    padding: 40px;
    border-bottom: 1px solid $dark-brown;
}

i {
    font-size: 30px;
}

.foot-p {
    margin-top: 0;
    padding: 10px 0;
    @include font-gilroy(30px, 30px)
}

#number {
    margin-top: 20px
}

.rights {
    @include font-gilroy(24px, 25px);
    font-weight: 300;
    padding: 40px;
    padding-bottom: 100px;
}

#butterfly {
    position: absolute;
    width: 70px;
    left: 20px;
    top: 15px;
    z-index: 8;
    animation: movement 10s ease-in-out 1s 1 normal;
    -webkit-animation: movement 10s ease-in-out 1s 1 normal;
}


@keyframes movement {
    0% {
        left: 20px;
        top: 15px;
    }


    20% {
        left: 300px;
        top: 90px;
    }

    40% {

        left: 400px;
        top: 200px;
        transform: rotate(0);
    }

    45% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    }

    65% {

        left: 100px;
        top: 400px;
    }

    80% {
        left: 20px;
        top: 500px;
    }
}

.foot-bar {
    visibility: visible;
    background-color: $dark-brown;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: none;
    z-index: 100;

    p {
        @include font-gilroy(17px, 18px);
        margin-top: 10px;
        font-weight: 300;
    }
}

.foot-bar a {
    float: center;
    display: block;
    color: $light-brown;
    text-align: center;
    padding: 10px;
    text-decoration: none;

}

.foot-bar i {
    font-size: 20px;

}

@media(max-width: 480px) {
    .foot-bar {
        display: block
    }

    .foot-bar__container {
        @include flex(row);
        justify-content: space-between;
    }
}

.gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.gallery img {
    display: none;
}

.gallery .visi {
    display: block;
}

.more {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $dark-brown;
    color: $dark-brown;
    @include font-gilroy(24px, 25px);
    text-align: left;
    padding: 12px 20px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}